<div id="header">
    	<div class="logo"><a href="#"><img src="../../images/logo.gif" alt="#" title="#" /></a></div>
        <div id="menu">
        	<ul>
   				<li><a href="#">home</a></li>
   				<li><a href="#">about us</a></li>
    			<li><a href="#">pets</a></li>
    			<li><a href="#">specials pets</a></li>
    			<li><a href="#">my accout</a></li>
    			<li><a href="#">register</a></li>
    			<li><a href="#">prices</a></li>
    			<li><a href="#">contact</a></li>
                	</ul>
         </div>
    </div>