@charset "gb2312";
/* CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;font-family: Arial, Helvetica, sans-serif; text-decoration:none;}  
body{line-height:1;width:100%;text-align:center;}  
ol,ul{ list-style: none;}  
blockquote,q{quotes: none;}  
blockquote:before,blockquote:after,q:before,q:after{content: '';content: none;}  
/* remember to define focus styles! */  
:focus {outline: 0;}  
/* remember to highlight inserts somehow! */  
ins {text-decoration: none;}  
del{text-decoration: line-through;}  
/* tables still need 'cellspacing="0"' in the markup */  
table{border-collapse: collapse;border-spacing: 0;} 

body,html{background-color: #5B5F53;}
#wrap{width:900px;font-family: Arial,Helvetica,sans-serif;margin:0 auto;height:auto;}
li{float:left; list-style-type:none;}
a{ text-decoration:none;font-weight:lighter;}

#header{background:url(images/header.jpg) no-repeat center;padding,margin:0;width:900px;height:180px;display:block;position:relative;}
.logo{padding:0;display:block;text-align:left;}
.logo img{margin-top:20px;margin-left:20px;}
#menu{width:626px;height:30px;padding:0;margin-left:274px;position:absolute;bottom:0;}
#menu li{margin:0 5px;padding:0;}
#menu ul{margin-left:20px;}
#menu a{padding:8px 5px 10px 5px;display:block;margin:0;color:#fff;font-size:0.9em;line-height:0.9em; vertical-align:middle}
#menu a:hover{color:#c4dfa6;}

#container{height:auto;width:900px;background-color:#fff;padding,margin:0;}
.clear{clear:both;}

.leftcontent{width:512px;padding-top:10px;text-align:left;margin:0;float:left;}

h1{background:url(images/bullet1.gif) no-repeat left center;}
.title{color:#F29924;padding:0 30px;display:block;margin-left:20px;font-size:1.4em;line-height:1.4em;font-weight:lighter;}
.feat_prod_box{height:160px;width:490px;border-bottom:1px dashed #B2B2B2; line-height:1.4em;padding:10px;margin:5px 0;}
.feat_prod_box h4{color:#F89843;font-size:1em;line-height:1em;font-weight:lighter;}
.feat_prod_box p{font-size:0.7em;}
.featimg{margin:10px;padding:0;width:125px;height:118px;float:left;}
.prod_det_box{padding:12px 20px 8px 10px;margin:10px auto;width:300px;border:1px solid #E3E3E3;float:right;border-radius:8px;}
.prod_det_box em{margin-left:200px;}
.prod_det_box a{color:#F89843;font-size:0.7em;}
h2{background:url(images/bullet2.gif) no-repeat left center;}
.new_products{height:300px;width:490px;padding:0;margin:5px auto;}
.new_products li{padding:5px;margin:5px 10px;text-align:center;}
.new_products p{font-weight:lighter;font-size:0.8em;color:#b5b5b5;line-height:0.8em;padding:2px auto;height:1.6em;}
.new_products a{display:block;}
.newpets{background:url(images/new_icon.gif) no-repeat right top;width:130px;height:100px;border:1px solid #b5b5b5;display:block;border-radius:8px;padding-top:20px;}


#rightcontent{background-color:#F2F8E7;width:388px;padding:0;text-align:left;margin-top:-2px;float:left;}
.langcurr{color:#B7004D;font-size:0.8em;padding:20px;margin:0; vertical-align:middle;}
.langcurr a{margin:2px;display:inline-block;border:1px solid #CCCCCC;padding:2px;}
a.gbr,a.eur{padding:4px;color:#533333;}
a.usd{padding:4px;color:#fff;background-color:#FF9900;border:1px solid #FF9900;}
.langcurr a:hover{ border-color:#990000;}
.cart{font-size:0.8em; vertical-align:middle;height:60px;background:url(images/border.gif) center bottom no-repeat;}
strong{background:url(images/cart.gif) left no-repeat;color:#FF9900;font-size:1.4em;padding-left:30px;margin:auto 20px;line-height:1.4em;padding-top:5px;}
.cart span,.cart a{color:#B7004D;}
.cart a{text-decoration:underline;margin-left:15px;padding-top:5px;}
.about{margin-top:20px;padding:auto 20px;height:200px;background:url(images/border.gif) center bottom no-repeat;margin-bottom:20px;}
.about h2{background:url(images/bullet3.gif) left center no-repeat;padding-left:30px;color:#FF9900;margin-left:20px;font-size:1.2em;line-height:1.2em;width:190px;height:30px;padding-top:8px;}
.about p{width:190px;margin-left:20px;float:left;font-size:0.8em;line-height:1.6em;}
.Promotions{width:160px;height:500px;text-align:center;float:left;margin-left:20px;}
.Promotions h2{background-image:url(images/bullet4.gif);margin:0;}
.Promotions li{float:none;width:132px;}
.Promotions .newpets{background-image:url(images/promo_icon.gif);}
.rightbox{width:160px;float:left;margin-left:20px;height:auto;}
.rightbox h2{margin:0;}
.rightbox ul{margin-left:20px;}
.rightbox li{float:none;text-align:left;background:url(images/left_menu_bullet.gif) left center no-repeat;padding-left:20px;margin:3px auto;}
.rightbox a{font-size:0.8em;line-height:0.8em;color:#000;}
.rightbox a:hover{text-decoration:underline;}
.rbup{background-image:url(images/bullet5.gif);}
.rbdown{background-image:url(images/bullet6.gif);}

.footer{width:900px;height:120px;background:url(../pet_shop%E5%8E%9F/images/footer_bg.gif) left bottom repeat-x #fff;padding:0;margin:0;border-top:1px dashed #afafaf;}
.copyright{text-align:center;display:block;margin:10px;background:url(../pet_shop%E5%8E%9F/images/footer_logo.gif) center top no-repeat;padding-top:30px;width:120px;float:left}
.footer a{color:#afafaf;font-size:0.8em;margin:0;padding:5px;}
.footer ul{display:block;padding:0;margin:10px;height:40px;width:400px;float:right;}
.footer li{padding:0;margin-right:5px;}

#aboutleft p{float:none;margin:20px auto 10px 50px;font-size:0.8em;line-height:1.2em;width:auto;}
#aboutleft img{float:right;margin:10px;}
#aboutleft{background-image:none;height:auto;}
#aboutleft h2{background-image:url(images/bullet1.gif);}
.detailsleft{margin:20px;height:auto;}
p.detailsleft a{color:#b7004d; text-decoration:underline;margin-right:15px;}
.pagination{clear:both;margin-left:100px;}
.pagination a{display:inline-block;border:1px solid #795636;padding:3px;margin:3px; text-align:center;font-size:8px;color:#795636;width:12px;height:12px;line-height:12px;}
.pagination a:hover{color:#fff;background-color:#795636;}
.Special{background:url(images/special_icon.gif) right top no-repeat;}

